.form-data
{
	background:#FFF;
	margin-top:15%;
	padding:30px 20px 30px 20px;
	box-shadow:10px 10px 5px #666;
}
html {
  background:radial-gradient(#fff176, #f57f17);
  min-height:100%;
}
.btn
{
	background:#FF6F00 !important;
	border:none !important;
	box-shadow:5px 5px 5px #666;
}
.signup
{
	margin-left:20%;
}
.signin{
	
margin-left:20%;	
}
.buttons
{
	margin-top:10%;
}
body
{
background:none !important;	
	
}